<div class="contactsfooter">
    <input type="text" placeholder="Search contacts" ng-model="searchText" (change)="sendSearchText($event)" />
    <div class="dropdown">
        <div class="dropbtn">Sort</div>
        <div class="dropcontent">
            <div (click)="this.contactService.sortBy('name')">Name</div>
            <div (click)="this.contactService.sortBy('email')">Email</div>
            <div (click)="this.contactService.sortBy('location')">Location</div>
        </div>
    </div>
</div>