<div class="contacts">
    <div class="contactsheader">
        <h1>Contacts</h1>
        <button class="btn-warning" (click)="createNewContact()">+New</button>
    </div>
    <div class="wrapper">
        <div class="d-flex justify-content-between">
            <div class="row flex-grow-*">
                <div class="contactscard" *ngFor="let contact of contacts"
                    (click)="selectContact(contact)"
                    [class.active]="contact===selectedContact">
                    <div class="cardheader">
                        <div class="cardtitle">{{contact.name}}</div>
                        <div class="cardsubtitle">{{contact.email}}</div>
                    </div>
                    <div class="cardinfo">
                        <div>
                            <div class="infolabel">location:</div>
                            <div class="info">{{contact.location}}</div>
                        </div>
                        <div>
                            <div class="infolabel">primary:</div>
                            <div class="info">{{contact.primary}}</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div clas="">
                <app-contact-details 
                    [contact]="selectedContact"
                    [createHandler]="addContact"
                    [updateHandler]="updateContact"
                    [deleteHandler]="deleteContact">
                </app-contact-details>
            </div>
        </div>
    </div>
</div>