<div class="contacts">
    <div class="contactsheader bottomshadow">
        <h1>Contacts</h1>
        <button class="btn-warning" (click)="createNewContact()">+New</button>
    </div>
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <div class="row flex-grow-*">
                <div *ngFor="let contact of contacts"
                    (click)="selectContact(contact)"
                    [class.active]="contact ===selectedContact">
                    <div class="card contactscard boxshadow">
                        <div class="card-body">
                            <h5 class="card-title">{{contact.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{contact.email}}</h6>
                            <div>{{contact.location}}</div>
                            <div>{{contact.primary}}</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div clas="">
                <app-contact-details 
                    [contact]="selectedContact"
                    [createHandler]="addContact"
                    [updateHandler]="updateContact"
                    [deleteHandler]="deleteContact">
                </app-contact-details>
            </div>
        </div>
    </div>
</div>